@import "~swiper/modules/pagination.css";

.swiper-pagination,
.swiper-pagination.swiper-pagination-horizontal {
  position: static;
  left: auto;
  top: auto;
  font-size: 0;
  line-height: 0;
}
.swiper-pagination.swiper-pagination-horizontal {
  .swiper-pagination-bullet {
    margin: 0 2px;
  }
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #CFCFCF;
  border-radius: 50%;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #32C5FF;
  opacity: 1;
}
