include ~components/image/mixin
include ~components/button/mixin

mixin workCard(data)
	-
		data = data || {};
		data.button.mods = ['block']
	article.workCard(
		class=data.class
		class=mods('workCard', data.mods)
	)&attributes(data.attributes)
		.workCard__inner
			.workCard__image
				+image(data.image)
			.workCard__head
				.workCard__label #{data.label}
				h4.workCard__title !{data.title}
		.workCard__button
			+button(data.button)
