@import "~components/breakpoints/mixin";
@import "~styles/variables/fonts";

.sectionCases {
  color: #fff;
  background-color: #404040;
  background-image: linear-gradient(to bottom, #404040 , #222222 60%);
}
.sectionCases__col {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}
.sectionCases__item {
  color: #030303;
  border-radius: 10px;
  background-color: #F4F4F4;
  z-index: 10;
  overflow: hidden;
}
.sectionCases__item-head {
  padding: 14px;
  background-color: #f0efec;
  border-radius: inherit;
  position: relative;
  box-shadow: 5px 5px 18px #C7C7C7;
  z-index: inherit;
  overflow: hidden;
}
.sectionCases__item-logo {
  font-size: 0;
  line-height: 0;
  margin-bottom: 10px;

  img {
    max-height: 24px;
  }
}
.sectionCases__item-title {
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
  color: #111111;
  font-weight: $font-weight-semiBold;
}
.sectionCases__item-label {
  border-radius: 8px;
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  padding: 4px 8px;
  color: #111111;
  background-color: #fff;
  font-weight: $font-weight-regular;
}
.sectionCases__item-image {
  position: absolute;
  font-size: 0;
  line-height: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  z-index: -1;

  img {
    max-height: 100%;
  }
}
.sectionCases__item-body {
  flex: 1 0 auto;
  padding: 14px;
  font-size: 12px;
  font-weight: $font-weight-regular;
  color: #030303;
}
.sectionCases__item-link {
  display: block;
  font-size: 12px;
  font-weight: $font-weight-regular;
  color: #FE1825;
  text-decoration: underline;
  text-align: center;
  padding: 0 20px 20px;
}
.sectionCases__item-button {
  margin-top: 14px;
}


@include breakpoint(sm) {
  .sectionCases__item-head {
    padding: 30px;
  }
  .sectionCases__item-title {
    font-size: 28px;
  }
  .sectionCases__item-button {
    max-width: 380px;
    margin: 20px auto 0 auto;
  }
}
@include breakpoint(md) {
  .sectionCases__body {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(3, 1fr);
  }
  .sectionCases__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 0 auto;
  }
  .sectionCases__col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .sectionCases__item-head {
    padding: 14px;
  }
  .sectionCases__item-title {
    font-size: 22px;
  }
  .sectionCases__item-button {
    max-width: none;
    margin: 14px 0 0 0;
  }
  .sectionCases__item-image {
    top: auto;
  }
}
