@import "~styles/variables/fonts.scss";
@import "~styles/mixins/image-cover.scss";
@import "~components/breakpoints/mixin.scss";

.sectionCatalog {
  color: #fff;
  background-color: #1E1E1E;
  z-index: 10;
  position: relative;
}
.sectionCatalog__figure-1,
.sectionCatalog__figure-2,
.sectionCatalog__figure-3 {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}
.sectionCatalog__nav {
  margin-bottom: 30px;
  max-width: 700px;
}
.sectionCatalog__nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -5px;

  li {
    display: block;
    padding: 0 5px;
    margin: 0 0 10px 0;
  }
}
.sectionCatalog__nav-button {
  display: block;
  border-radius: 8px;
  outline: 1px solid #fff;
  border: none;
  color: #fff;
  background: none;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 14px;

  &:hover {
    outline-color: #DFFF13;
  }

  &.is-active {
    background-color: #DFFF13;
    background-image: linear-gradient(to bottom, #DFFF13, #B1CD00);
    color: #383838;
    outline: none;
  }
}
.sectionCatalog__list {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.2;

  li {
    display: block;
    padding: 0 0 0 10px;
    margin: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #DFFF13;
      top: 0.6em;
      margin-top: -1.5px;
    }
  }
}
.sectionCatalog__tabs {
  overflow: hidden;
  position: relative;
}
.sectionCatalog__tab {
  display: none;
  padding: 0 10px;
  font-size: 12px;
}
.sectionCatalog__tab.is-active {
  display: block;
}
.sectionCatalog__tab-body {
  border-radius: 10px;
  padding: 20px;
  background: #2E2E2E;
  position: relative;
  margin-bottom: 60px;
}
.sectionCatalog__tab-aside {
  overflow: hidden;
  margin: 0 -10px;
}
.sectionCatalog__tab-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: $font-weight-semiBold;
  color: #DFFF13;
}
.sectionCatalog__tab-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: $font-weight-semiBold;
  color: #fff;
}
.sectionCatalog__tab-subtitle2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: $font-weight-regular;
  color: #DFFF13;
}
.sectionCatalog__tab-head {
  margin-bottom: 30px;

  p {
    margin: 10px 0;
  }
}
.sectionCatalog__tab-text {
  b,
  strong {
    color: #DFFF13;
    font-weight: $font-weight-regular;
  }
}
.sectionCatalog__tab-button {
  margin-top: 20px;
}
.sectionCatalog__slider-head {
  font-size: 22px;
  font-weight: $font-weight-semiBold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.sectionCatalog__slide {
  width: 280px;
  text-align: center;
}
.sectionCatalog__slide--reels {
  width: 170px;
}
.sectionCatalog__slide--image {
  width: 280px;
}
.sectionCatalog__slide-footer {
  text-align: center;
  margin-top: 20px;
}
.sectionCatalog__slide-title {
  font-size: 14px;
  color: #fff;
}
.sectionCatalog__slide-brand {
  font-size: 14px;
  color: #DFFF13;
}
.sectionCatalog__video {
  height: 215px;
}
.sectionCatalog__reels {
  height: 270px;
}
.sectionCatalog__image {
  font-size: 0;
  line-height: 0;
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 8px;

  img {
    @include image-cover;
  }
}
.sectionCatalog__slide-link {
  font-size: 14px;
  color: #DFFF13;
  text-decoration: underline;
}
.swiper-slide.sectionCatalog__slide {
  .sectionCatalog__slide-footer {
    transition: opacity 0.3s ease-out;
    opacity: 0;
    transform: scale(0.9);
  }
  .sectionCatalog__image,
  .sectionCatalog__reels,
  .sectionCatalog__video {
    transition: transform 0.3s ease-out;
  }
  .sectionCatalog__video {
    transform: scale(0.9);
  }
  .sectionCatalog__image,
  .sectionCatalog__reels {
    transform: scale(0.85);
  }
}
.swiper-slide-active.sectionCatalog__slide {
  .sectionCatalog__slide-footer,
  .sectionCatalog__image,
  .sectionCatalog__reels,
  .sectionCatalog__video {
    transform: scale(1);
  }
  .sectionCatalog__slide-footer {
    opacity: 1;
  }
}

.sectionCatalog__figure-1 {
  right: 0;
  top: -150px;
}
.sectionCatalog__figure-2 {
  right: 0;
  bottom: -150px;
}
.sectionCatalog__figure-3 {
  display: none;
}

@include breakpoint(sm) {
  .sectionCatalog__tab {
    padding: 0 40px;
    font-size: 16px;
  }
  .sectionCatalog__tab-title,
  .sectionCatalog__tab-subtitle {
    font-size: 22px;
  }
  .sectionCatalog__tab-subtitle2 {
    font-size: 16px;
  }
  .sectionCatalog__tab-body {
    padding: 30px;
  }
  .sectionCatalog__tab-button {
    margin-top: 30px;
    max-width: 200px;
  }
  .sectionCatalog__tab-aside {
    margin: 0 -40px;
  }
  .sectionCatalog__nav-button {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .sectionCatalog__nav-list {
    margin: 0 -10px;

    li {
      padding: 0 10px;
      margin: 0 0 20px 0;
    }
  }
  .sectionCatalog__lists {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 40px;
  }
  .sectionCatalog__slide-link {
    font-size: 16px;
  }
  .sectionCatalog__reels {
    height: 380px;
  }
  .sectionCatalog__slide {
    width: 380px;
  }
  .sectionCatalog__slide--image {
    width: 355px;
  }
  .sectionCatalog__slide--reels {
    width: 235px;
  }

  .sectionCatalog__figure-1 {
    right: 0;
    top: -300px;
  }
  .sectionCatalog__figure-2 {
    right: 0;
    bottom: -300px;
  }
}
@include breakpoint(md) {
  .sectionCatalog__nav {
    margin-bottom: 50px;
  }
  .sectionCatalog__tabs {
    overflow: hidden;
    padding-left: calc((100% - 930px) / 2);
    position: relative;
  }
  .sectionCatalog__tab {
    padding: 0;
    font-size: 14px;
  }
  .sectionCatalog__tab.is-active {
    display: flex;
  }
  .sectionCatalog__tab-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 400px;
    flex: 0 0 400px;
    margin-right: 50px;
    margin-bottom: 0;
  }
  .sectionCatalog__tab-aside {
    align-self: center;
    overflow: hidden;
    flex: 0 1 auto;
    margin: 0;
  }
  .sectionCatalog__slider-head {
    max-width: 380px;
  }
  .sectionCatalog__slide-link {
    font-size: 14px;
  }
  .sectionCatalog__reels {
    height: 290px;
  }
  .sectionCatalog__slider-head--reels {
    max-width: 164 * 3px;
  }
  .sectionCatalog__slide--reels {
    width: 164px;
  }
  .swiper-slide-active.sectionCatalog__slide {
    .sectionCatalog__slide-footer {
      opacity: 0;
    }
    .sectionCatalog__image,
    .sectionCatalog__reels {
      transform: scale(0.85);
    }
  }
  .swiper-slide-next.sectionCatalog__slide.sectionCatalog__slide--reels,
  .swiper-slide-active.sectionCatalog__slide.sectionCatalog__slide--image,
  .swiper-slide-active.sectionCatalog__slide.sectionCatalog__slide--video {
    .sectionCatalog__slide-footer,
    .sectionCatalog__image,
    .sectionCatalog__reels,
    .sectionCatalog__video {
      transform: scale(1);
    }
    .sectionCatalog__slide-footer {
      opacity: 1;
    }
  }

  .sectionCatalog__figure-1 {
    right: 0;
    top: -350px;
  }
  .sectionCatalog__figure-2 {
    right: 0;
    bottom: -300px;
  }
  .sectionCatalog__figure-3 {
    top: 600px;
    left: calc((100% - 930px) / 2 - 150px);
    display: block;
  }
}
