include ~components/section/mixin
include ~components/sectionTitle/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/button/mixin
include ~components/input/mixin

+section({
	class: 'sectionFeedback',
	id: 'feedback'
})
	+container
		.sectionFeedback__inner
			.sectionFeedback__main
				+sectionTitle({
					class: 'sectionFeedback__title'
				}) Остались вопросы или готовы обсудить проект?
				form(action="/api/sectionFeedback.html").sectionFeedback__form.js-form
					.sectionFeedback__text Оставьте заявку и мы свяжемся с вами в течение 5 минут
					.sectionFeedback__field
						+input({
							mods: ['white'],
							attributes: {
								type: 'text',
								placeholder: 'Ваше имя',
								required: true
							}
						})
					.sectionFeedback__field
						+input({
							mods: ['white'],
							attributes: {
								type: 'text',
								placeholder: '+7 (000) 000-00-00',
								required: true
							}
						})
					+button({
						class: 'sectionFeedback__button',
						mods: ['block', 'large'],
						attributes: {
							type: 'submit'
						}
					}) ОСТАВИТЬ ЗАЯВКУ
					.sectionFeedback__privacy Отправляя заявку вы даете согласие на обработку персональных данных
			.sectionFeedback__image
				+image({
					src: '/images/cube.svg',
					class: 'sectionFeedback__img'
				})
