@import "~components/breakpoints/mixin.scss";
@import "~components/breakpoints/mixin";
@import "~styles/variables/fonts";

.sectionFeedback {
  color: #fff;
  background-color: #282828;
  background-image: linear-gradient(to bottom, #282828, #1A1919);
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.sectionFeedback__inner {
  position: relative;
}
.sectionFeedback__figure {
  position: absolute;
  right: -150px;
  top: -100px;
  z-index: -1;
}
.sectionFeedback__title,
.sectionFeedback__text,
.sectionFeedback__privacy {
  padding-left: 30px;
}
.sectionFeedback__privacy {
  font-size: 10px;
  margin-top: 10px;
  color: #969696;
  font-weight: $font-weight-light;
  text-align: center;
}
.sectionFeedback__text {
  font-size: 12px;
  margin-bottom: 20px;
}
.sectionFeedback__field {
  margin-bottom: 16px;
}
.sectionFeedback__row {
  background-color: #292929;
  padding: 30px;
  border-radius: 14px;
}

@include breakpoint(sm) {
  .sectionFeedback__form {
    max-width: 360px;
  }
  .sectionFeedback__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .sectionFeedback__field {
    margin-bottom: 20px;
  }
  .sectionFeedback__privacy {
    font-size: 12px;
    margin-top: 20px;
  }
}
@include breakpoint(md) {
  .sectionFeedback__text {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .sectionFeedback__field {
    margin-bottom: 0;
  }
  .sectionFeedback__form {
    max-width: none;
  }
  .sectionFeedback__privacy {
    font-size: 10px;
    text-align: left;
  }
  .sectionFeedback__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}
