@import "~styles/mixins/placeholder";
@import "~styles/variables/fonts";

.input[type="text"],
.input[type="email"],
.input[type="search"],
.input[type="tel"] {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #030303;
  background: none;
  border: 1px solid #ACACAC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: $font-weight-regular;
  box-shadow: none;
  outline: none;
  height: 50px;

  @include placeholder {
    color: #ACACAC;
  }

  &:active,
  &:focus {
    border-color: #030303;
  }
}

.input[type="text"],
.input[type="email"],
.input[type="search"],
.input[type="tel"] {
  height: 50px;
}

.input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.input.input--white {
  color: #fff;

  &:active,
  &:focus {
    border-color: #fff;
  }
}
