include ~components/section/mixin
include ~components/sectionHead/mixin
include ~components/sectionTitle/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/picture/mixin
include ~components/icon/mixin
include ~containers/iconBox/mixin

+section({
	class: ['sectionTeam', 'js-sectionTeam']
})
	+container
		.sectionTeam__inner
			.sectionTeam__head
				+sectionTitle Наша команда
				h4.sectionTeam__subtitle Верим в то, что делаем!
				.sectionTeam__text
					p Каждый из нас - профессионал в своем деле.
					p Это помогает разграничивать задачи и работать эффективно. Владеем обширным списком навыков, любим интересные проекты и постоянно учимся.
				.sectionTeam__info
					.sectionTeam__info__image
						+picture({
							src: '/images/team.png',
							srcset: {
								'2x': '/images/team@2x.png'
							},
							source: [
								{
									media: '(min-width: 1024px)',
									src: '/images/team-desktop.png',
									srcset: {
										'2x': '/images/team-desktop@2x.png'
									},
									type: 'image/png'
								},
								{
									media: '(min-width: 640px)',
									src: '/images/team-tablet.png',
									srcset: {
										'2x': '/images/team-tablet@2x.png'
									},
									type: 'image/png'
								}
							]
						})
					.sectionTeam__info__body
						.sectionTeam__info-item
							.sectionTeam__info-item__title 10
							.sectionTeam__info-item__text лет на рынке Рунета
						.sectionTeam__info-item
							.sectionTeam__info-item__title 80+
							.sectionTeam__info-item__text выполненных проектов
						.sectionTeam__info-item
							.sectionTeam__info-item__title
								+icon('infinity')
							.sectionTeam__info-item__text креативных идей
			.sectionTeam__slider-wrapper
				.sectionTeam__slider(data-ref="slider")
					each item in Array(2)
						article.sectionTeam__slide
							.sectionTeam__slide__image
								+picture({
									src: '/images/team-boss.png',
									srcset: {
										'2x': '/images/team-boss@2x.png'
									},
									source: [
										{
											media: '(min-width: 1024px)',
											src: '/images/team-boss-desktop.png',
											srcset: {
												'2x': '/images/team-boss-desktop@2x.png'
											},
											type: 'image/png'
										},
										{
											media: '(min-width: 640px)',
											src: '/images/team-boss-tablet.png',
											srcset: {
												'2x': '/images/team-boss-tablet@2x.png'
											},
											type: 'image/png'
										}
									]
								})
							.sectionTeam__slide__body
								h4.sectionTeam__slide__title Александр Репин
								ul.sectionTeam__slide__list
									li Генеральный директор TREND PRO
									li Главный по маркетингу в CLUB 500 с 2018 года
									li Лично продвигаю все свои направления в бизнесе на протяжении 23 лет
								.sectionTeam__slide__divider
								blockquote.sectionTeam__slide__blockquote
									strong Мы дорожим репутацией и каждым клиентом.
									|#{' '}Я лично проконтролирую соблюдение всех договоренностей и сервис.
								.sectionTeam__slide__social.sectionTeam__social
									+iconBox({
										class: 'sectionTeam__social__link',
										icon: 'telegram',
										mods: ['small', 'telegram2'],
										attributes: {
											href: '#'
										}
									})
									+iconBox({
										class: 'sectionTeam__social__link',
										icon: 'instagram',
										mods: ['small', 'instagram'],
										attributes: {
											href: '#'
										}
									})
									.sectionTeam__social__name business_repin
				.sectionTeam__swipe
					+image({
						src: '/images/swipe.gif'
					})
				.sectionTeam__slider-nav
					button.sectionTeam__slider-prev(data-ref="slider.prev")
						+icon('arrow-left')
					button.sectionTeam__slider-next(data-ref="slider.next")
						+icon('arrow-right')
