{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "optimize-regex",
    "no-use-extend-native",
    "promise",
    "babel"
  ],
  "rules": {
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true
    }],
    "curly": ["error", "all"],
    "func-names": ["error", "never"],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./"
      }
    ],
    "allowTernary": true,
    "allowShortCircuit": true,
    "no-use-extend-native/no-use-extend-native": 2,
    "import/no-unresolved": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
