mixin button(data)
	-
		data = data || {};
		href = data.attributes && data.attributes.href;
		tagName = href ? 'a' : 'button';
	#{tagName}.button(
		class=data.class
		class=mods('button', data.mods)
		)&attributes(data.attributes) #{data.text}
		block
