include ~components/container/mixin
include ~components/button/mixin
include ~components/picture/mixin
include ~components/image/mixin
include ~containers/icon-box/mixin

.hero
	+container
		.hero__inner
			.hero__top
				h1.hero__title Поможем#{' '}
					b собрать бизнес
				.hero__text.hero__text-mobile
					|с помощью
					br
					| IT-решений
					br
					|и рекламы
				.hero__text.hero__text-desktop
					span с помощью современных IT-решений
					span и эффективной интернет-рекламы
			.hero__bottom
				.hero__features
					+image({
						class: 'hero__features-img',
						src: '/images/hero-figure.png',
						srcset: {
							'2x': '/images/hero-figure@2x.png'
						},
					})
					.hero__features__text Давай познакомимся и обсудим на 
						b бесплатной консультации
						|#{' '}твой проект. Ты получишь:
					ul.hero__features__list
						li.hero__features__item
							+icon-box({
								class: 'hero__features__item-icon',
								mods: ['blue', 'shadow', 'medium'],
								icon: 'union'
							})
							| Лучшие решения#{' '}
							br
							|по задачам
						li.hero__features__item
							+icon-box({
								class: 'hero__features__item-icon',
								mods: ['blue', 'shadow', 'medium'],
								icon: 'layers'
							})
							| Коммерческое#{' '}
							br
							|предложение
				.hero__button
					+button({
						text: 'ОБСУДИТЬ ПРОЕКТ',
						mods: ['block', 'large'],
						attributes: {
							href: '#feedback'
						}
					})
		.hero__image
			+picture({
				class: 'hero__img',
				src: '/images/hero.png',
				srcset: {
					'2x': '/images/hero@2x.png'
				},
				source: [
					{
						srcset: {
							'1x': '/images/hero-desktop.png',
							'2x': '/images/hero-desktop@2x.png'
						},
						media: '(min-width: 1280px)',
						type: 'image/png'
					},
					{
						srcset: {
							'1x': '/images/hero-tablet.png',
							'2x': '/images/hero-tablet@2x.png'
						},
						media: '(min-width: 768px)',
						type: 'image/png'
					},
				]
			})
