extends ~containers/layoutPage/index

include ~components/container/mixin

block variables
	- TITLE = 'Видео продакшн'

block main
	include ~containers/heroVideo/index
	include ~containers/sectionCeo/index
