@import "~components/breakpoints/mixin.scss";

.container {
  padding: 0 10px;
  max-width: 100%;
}

@include breakpoint(sm) {
  .container {
    padding: 0 40px;
    width: 930px + 80px;
    margin: 0 auto;
  }
}
