include ~components/section/mixin
include ~components/section-head/mixin
include ~components/section-title/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/picture/mixin
include ~components/button/mixin

-
	items = [
		{
			title: 'Кредитный<br>брокер',
			label: 'Интернет-маркетинг',
			text: 'Запустили динамические объявления на поиске и за два месяца увеличили прибыль с рекламной кампании на 46%',
			button: 'ВСЕ КЕЙСЫ ПО ИНТЕРНЕТ-МАРКЕТИНГУ',
			logo: '/images/logos/fabrica-resheniy.svg',
			picture: {
				src: '/images/case-1.png',
				srcset: {
					'2x': '/images/case-1@2x.png'
				},
				source: [
					{
						media: '(min-width: 1024px)',
						src: '/images/case-1-desktop.png',
						srcset: {
							'2x': '/images/case-1-desktop@2x.png'
						},
						type: 'image/png'
					},
					{
						media: '(min-width: 640px)',
						src: '/images/case-1-tablet.png',
						srcset: {
							'2x': '/images/case-1-tablet@2x.png'
						},
						type: 'image/png'
					},
				]
			}
		},
		{
			title: 'Онлайн<br>магазин',
			label: 'Упаковка бизнеса',
			text: 'Разработали дизайн индексной страницы для онлайн-магазина брендовой одежды. Адаптация сайта под любые устройства.',
			button: 'ВСЕ КЕЙСЫ ПО УПАКОВКЕ БИЗНЕСА',
			logo: '/images/logos/lux.png',
			picture: {
				src: '/images/case-2.png',
				srcset: {
					'2x': '/images/case-2@2x.png'
				},
				source: [
					{
						media: '(min-width: 1024px)',
						src: '/images/case-2-desktop.png',
						srcset: {
							'2x': '/images/case-2-desktop@2x.png'
						},
						type: 'image/png'
					},
					{
						media: '(min-width: 640px)',
						src: '/images/case-2-tablet.png',
						srcset: {
							'2x': '/images/case-2-tablet@2x.png'
						},
						type: 'image/png'
					},
				]
			}
		},
		{
			title: 'Логистическая<br>компания',
			label: 'Автоматизация бизнеса',
			text: 'Внедрили сквозную аналитику Roistat.',
			button: 'ВСЕ КЕЙСЫ ПО АВТОМАТИЗАЦИИ БИЗНЕСА',
			logo: '/images/logos/transitplus.png',
			picture: {
				src: '/images/case-3.png',
				srcset: {
					'2x': '/images/case-3@2x.png'
				},
				source: [
					{
						media: '(min-width: 1024px)',
						src: '/images/case-3-desktop.png',
						srcset: {
							'2x': '/images/case-3-desktop@2x.png'
						},
						type: 'image/png'
					},
					{
						media: '(min-width: 640px)',
						src: '/images/case-3-tablet.png',
						srcset: {
							'2x': '/images/case-3-tablet@2x.png'
						},
						type: 'image/png'
					},
				]
			}
		},
	]

+section({
	class: 'section-cases'
})
	+container
		+section-head
			+section-title Кейсы
		.section-cases__body
			each item in items
				.section-cases__col
					article.section-cases__item
						.section-cases__item-head
							.section-cases__item-logo
								+image({
									src: item.logo
								})
							h4.section-cases__item-title !{item.title}
							.section-cases__item-label #{item.label}
							.section-cases__item-image
								+picture(item.picture)
						.section-cases__item-body #{item.text}
						a(href="#").section-cases__item-link Подробнее о кейсе
					+button({
						class: 'section-cases__item-button',
						text: item.button,
						mods: ['small', 'block'],
						attributes: {
							href: '#'
						}
					})

