include ~components/section/mixin
include ~components/section-head/mixin
include ~components/section-title/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/button/mixin

-
	items = [
		{
			title: 'Кредитный<br>брокер',
			label: 'Интернет-маркетинг',
			text: 'Запустили динамические объявления на поиске и за два месяца увеличили прибыль с рекламной кампании на 46%',
			button: 'ВСЕ КЕЙСЫ ПО ИНТЕРНЕТ-МАРКЕТИНГУ',
			logo: '/images/logos/fabrica-resheniy.svg',
			image: '/images/case-1.png'
		},
		{
			title: 'Онлайн<br>магазин',
			label: 'Упаковка бизнеса',
			text: 'Разработали дизайн индексной страницы для онлайн-магазина брендовой одежды. Адаптация сайта под любые устройства.',
			button: 'ВСЕ КЕЙСЫ ПО УПАКОВКЕ БИЗНЕСА',
			logo: '/images/logos/lux.png',
			image: '/images/case-2.png'
		},
		{
			title: 'Логистическая<br>компания',
			label: 'Автоматизация бизнеса',
			text: 'Внедрили сквозную аналитику Roistat.',
			button: 'ВСЕ КЕЙСЫ ПО АВТОМАТИЗАЦИИ БИЗНЕСА',
			logo: '/images/logos/transitplus.png',
			image: '/images/case-3.png'
		},
	]

+section({
	class: 'section-cases'
})
	+container
		+section-head
			+section-title Кейсы
		.section-cases__body
			each item in items
				.section-cases__col
					article.section-cases__item
						.section-cases__item-head
							.section-cases__item-logo
								+image({
									src: item.logo
								})
							h4.section-cases__item-title !{item.title}
							.section-cases__item-label #{item.label}
							.section-cases__item-image
								+image({
									src: item.image
								})
						.section-cases__item-body #{item.text}
						a(href="#").section-cases__item-link Подробнее о кейсе
					+button({
						class: 'section-cases__item-button',
						text: item.button,
						mods: ['small', 'block'],
						attributes: {
							href: '#'
						}
					})

