include ~components/section/mixin
include ~components/section-head/mixin
include ~components/section-title/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/icon/mixin
include ~components/swiper/mixin
include ~components/swiper-slide/mixin
include ~containers/icon-box/mixin

+section({
	class: ['section-team', 'js-section-team']
})
	+container
		.section-team__inner
			.section-team__head
				+section-title Наша команда
				h4.section-team__subtitle Верим в то, что делаем!
				p Каждый из нас - профессионал в своем деле.
				p Это помогает разграничивать задачи и работать эффективно. Владеем обширным списком навыков, любим интересные проекты и постоянно учимся.
				.section-team__info
					.section-team__info__image
						+image({
							src: '/images/team.png',
							srcset: {
								'2x': '/images/team@2x.png'
							}
						})
					.section-team__info__body
						.section-team__info-item
							.section-team__info-item__title 10
							.section-team__info-item__text лет на рынке Рунета
						.section-team__info-item
							.section-team__info-item__title 80+
							.section-team__info-item__text выполненных проектов
						.section-team__info-item
							.section-team__info-item__title &#8734;
							.section-team__info-item__text креативных идей
			.section-team__slider
				+swiper({
					attributes: {
						'data-ref': 'slider'
					}
				})
					each item in Array(2)
						+swiper-slide
							article.section-team__slide
								.section-team__slide__image
									+image({
										src: '/images/team-boss.png',
										srcset: {
											'2x': '/images/team-boss@2x.png'
										}
									})
								.section-team__slide__body
									h4.section-team__slide__title Александр Репин
									ul.section-team__slide__list
										li.section-team__slide__list-item Генеральный директор TREND PRO
										li.section-team__slide__list-item Главный по маркетингу в CLUB 500 с 2018 года
										li.section-team__slide__list-item Лично продвигаю все свои направления в бизнесе на протяжении 23 лет
									.section-team__slide__divider
									blockquote.section-team__slide__blockquote
										strong Мы дорожим репутацией и каждым клиентом.
										|#{' '}Я лично проконтролирую соблюдение всех договоренностей и сервис.
									.section-team__slide__social.section-team__social
										+icon-box({
											class: 'section-team__social__link',
											icon: 'telegram',
											mods: ['small', 'telegram2'],
											attributes: {
												href: '#'
											}
										})
										+icon-box({
											class: 'section-team__social__link',
											icon: 'instagram',
											mods: ['small', 'instagram'],
											attributes: {
												href: '#'
											}
										})
										.section-team__social__name business_repin
				.section-team__slider-nav
					button.section-team__slider-prev(data-ref="slider.prev")
						+icon('arrow-left')
					button.section-team__slider-next(data-ref="slider.next")
						+icon('arrow-right')
