.icon-Cart {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-Catalog {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-Mail {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-New {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-Search {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-bookmark {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-calendar {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-clock {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-close {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-delete {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-di {
  font-size: 18 * 1px;
  height: 1em;
  width: (22/18) * 1em;
}
.icon-down {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-home {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-icon {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-minus {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-phone {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-plus {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-right {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-star {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-tag {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
