include ~components/button/mixin
include ~containers/icon-box/mixin

mixin service-card(data)
	-
		data = data || {};
	article.service-card(
		class=data.class
		class=mods('service-card', data.mods)
	)&attributes(data.attributes)
		.service-card__head
			.service-card__heading
				h4.service-card__title #{data.title}
				.service-card__text #{data.text}
			.service-card__icon
				+icon-box(data.icon)
		.service-card__body
			each service in data.services
				.service-card__service
					.service-card__service-image
						+image(service)
			+button({
				class: 'service-card__button',
				text: data.button.text,
				mods: data.button.mods,
				attributes: data.button.attributes
			})
