include ~components/icon/mixin
include ~containers/iconBox/mixin

mixin popup(data)
	- data = data || {}
	.popup(
		class=mods('popup', data.mods)
		class=data.class
		)&attributes(data.attributes)
		.popup__inner
			.popup__body
				block
			.popup__close(data-click="popup.close")
				+icon('close')
