@import "~components/breakpoints/mixin";
@import "~styles/variables/fonts";
@import "~styles/variables/animation";
@import "~components/breakpoints/mixin";

@keyframes popup-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup-inner {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup {
  $z-index: 500;
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index;
  background: rgba(#000, 0.5);
  animation: popup-show $animation-time ease-out;

  &.is-active {
    display: flex;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 100%;
    animation: popup-inner $animation-time ease-out;
    margin: auto;
    overflow: hidden;
    width: 260px;
  }
  &__body {
    padding: 20px;
    border-radius: 10px;
    background: #F4F4F4;
    flex: 1 1 auto;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  &__icon,
  &__close {
    font-size: 20px;
    line-height: 0;
    flex: 0 0 auto;
  }
  &__icon {
    margin-right: 10px;
  }
  &__close {
    color: #fff;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
}

@include breakpoint(sm) {
  .popup__inner {
    width: 320px;
  }
  .popup__body {
    padding: 30px;
  }
}
@include breakpoint(md) {
  .popup__inner {
    width: 260px;
  }
  .popup__body {
    padding: 20px;
  }
}
