@import "~components/breakpoints/mixin.scss";

.section-head {
  font-size: 12px;
  margin-bottom: 30px;

  p {
    margin: 0;
  }
}

@include breakpoint(sm) {
  .section-head {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@include breakpoint(md) {
  .section-head {
    font-size: 14px;
  }
}
