extends ~containers/layoutPage/index

block variables
	- TITLE = 'Главная'
	- DESKTOP = true

block main
	include ~containers/hero/index
	include ~containers/section-services/index
	//include ~containers/section-cases/index
	//include ~containers/section-team/index
	//include ~containers/section-features/index
	//include ~containers/section-clients/index
	//include ~containers/section-reviews/index
	//include ~containers/section-feedback/index
