extends ~containers/layoutPage/index

include ~containers/sectionFeedback/mixin

block variables
	- TITLE = 'Главная'

block main
	include ~containers/heroMain/index
	include ~containers/sectionServices/index
	include ~containers/sectionCases/index
	include ~containers/sectionTeam/index
	include ~containers/sectionFeatures/index
	include ~containers/sectionClients/index
	include ~containers/sectionReviews/index
	+sectionFeedback({
		mods: ['2']
	})
