include ~components/section/mixin
include ~components/container/mixin
include ~components/sectionHead/mixin
include ~components/sectionTitle/mixin
include ~components/button/mixin
include ~components/image/mixin
include ~components/picture/mixin
include ~containers/popupSales/mixin

-
	items = [
		{
			title: 'Рекламное видео',
			time: 'от 7 дней',
			price: 'от 100 тыс. руб'
		},
		{
			title: 'Видео о компании',
			time: 'от 14 дней',
			price: 'от 200 тыс. руб'
		},
		{
			title: 'Имиджевое видео',
			time: 'от 14 дней',
			price: 'от 200 тыс. руб'
		},
		{
			title: 'Имиджевое видео',
			time: 'от 14 дней',
			price: 'от 100 тыс. руб'
		},
		{
			title: 'Дипфейк',
			time: 'от 30 дней',
			price: 'от 300 тыс. руб'
		},
		{
			title: 'Коммерческая фотосъемка',
			time: 'Индивидуально',
			price: 'Индивидуально'
		},
		{
			title: 'Коммерческая фотосъемка',
			time: 'Индивидуально',
			price: 'Индивидуально'
		},
		{
			title: 'Упаковка маркетплейсов',
			time: 'от 7 дней',
			price: 'от 30 тыс. руб'
		},
		{
			title: '2D и 3D графика',
			time: 'Индивидуально',
			price: 'Индивидуально'
		},
	]

+section({
	class: ['sectionPricing', 'js-sectionPricing']
})
	+picture({
		class: `sectionPricing__figure`,
		src: `/images/figures/section-figure-5.png`,
		srcset: {
			'2x': `/images/figures/section-figure-5@2x.png`
		},
		source: [
			{
				media: '(min-width: 1024px)',
				src: `/images/figures/section-figure-5-desktop.png`,
				srcset: {
					'2x': `/images/figures/section-figure-5-desktop@2x.png`
				},
				type: 'image/png'
			},
		]
	})
	+container
		+sectionHead
			+sectionTitle Стоимость и сроки
		.sectionPricing__body
			.sectionPricing__slider(data-ref="slider")
				each item in items
					.sectionPricing__slide
						.sectionPricing__item
							.sectionPricing__item-inner
								.sectionPricing__item-title #{item.title}
								.sectionPricing__item-time #{item.time}
								.sectionPricing__item-price #{item.price}
							.sectionPricing__item-button
								+button({
									text: 'ОБСУДИТЬ ПРОЕКТ',
									mods: ['block', 'large'],
									attributes: {
										'data-click': 'popup',
										'data-popup-id': 'popup.sales:green',
									}
								})
			.sectionPricing__swipe
				+image({
					src: '/images/swipe.gif'
				})

+popupSales({
	action: `/api/popup.sales:green.html`,
	title: 'Оставить заявку',
	text: 'Заполните форму и мы свяжемся с вами в течение 5 минут',
	icon: {
		icon: 'sale',
		mods: ['green', 'shadow', 'icon-white']
	},
	attributes: {
		id: `popup.sales:green`
	},
	button: {
		text: 'ОСТАВИТЬ ЗАЯВКУ',
		mods: ['green']
	}
})
