@import "~styles/variables/fonts";

.sectionPricing {
  color: #fff;
  background-color: #222222;
  background-image: linear-gradient(to bottom, #222222, #191919);
}
.sectionPricing__item {
  display: flex;
  background: #292929;
  border-radius: 20px;
  margin-bottom: 30px;
}
.sectionPricing__item-inner {
  display: flex;
  align-items: center;
  box-shadow: -5px -5px 24px #141414, 5px 5px 18px #202020;
  border-radius: inherit;
  flex: 1 1 auto;
  padding: 30px 0;
}
.sectionPricing__item-title {
  font-size: 22px;
  color: #DFFF13;
  font-weight: $font-weight-semiBold;
  flex: 0 0 260px;
  padding: 0 30px;
}
.sectionPricing__item-time,
.sectionPricing__item-price {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
  border-left: 1px solid #4F4F4F;
  flex: 0 0 auto;
  min-width: 190px;
}
.sectionPricing__item-button {
  padding: 30px;
  flex: 0 0 290px;
}
