.popup-sales__success.popup-sales__success--red
	.popup-sales__success-title Спасибо!
	.popup-sales__success-text Ваша заявка отправлена
	a(href="#").popup-sales__success-link Перейти в Telegram-канал
