.sectionFeedback__success
	.sectionFeedback__success-box
		.sectionFeedback__success-title СПАСИБО!
		.sectionFeedback__success-text Ваша заявка отправлена
	a(href="#" target="_blank").sectionFeedback__success-link Перейти в Telegram-канал
