.section-feedback__success
	.section-feedback__success-box
		.section-feedback__success-title СПАСИБО!
		.section-feedback__success-text Ваша заявка отправлена
	a(href="#" target="_blank").section-feedback__success-link Перейти в Telegram-канал
