@import "~styles/variables/fonts";
@import "~components/breakpoints/mixin";

.sectionSteps {
  color: #fff;
  background-color: #191919;
  background-image: linear-gradient(to bottom, #191919, #222222);
  position: relative;
  z-index: 5;
}
.sectionSteps__figure {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: -50px;
}
.sectionSteps__item {
  & + .sectionSteps__item {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #4F4F4F;
  }
}
.sectionSteps__item-head {
  display: flex;
  margin-bottom: 20px;
}
.sectionSteps__item-id {
  color: #DFFF13;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  margin-right: 35px;
}
.sectionSteps__item-title {
  flex: 1 1 auto;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
}
.sectionSteps__item-text {
  font-size: 12px;
}
.sectionSteps__item-list {
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: block;
    margin: 0;
    padding: 0 0 0 1em;
    position: relative;
  }
  li:before {
    content: '–';
    position: absolute;
    left: 0;
    top: 0;
  }
}

@include breakpoint(sm) {
  .sectionSteps__item {
    & + .sectionSteps__item {
      padding-top: 50px;
      margin-top: 50px;
    }
  }
  .sectionSteps__item-head {
    margin-bottom: 30px;
  }
  .sectionSteps__item-id,
  .sectionSteps__item-title {
    font-size: 28px;
  }
  .sectionSteps__item-text {
    font-size: 20px;
  }
}
@include breakpoint(md) {
  .sectionSteps__figure {
    left: 30%;
    bottom: -100px;
    right: auto;
  }
  .sectionSteps__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    padding: 0 40px;

    & + .sectionSteps__item {
      padding-top: 30px;
      margin-top: 30px;
    }
  }
  .sectionSteps__item-id,
  .sectionSteps__item-title {
    font-size: 20px;
  }
  .sectionSteps__item-text {
    font-size: 14px;
  }
}
