@import "~styles/variables/fonts";

.section-services {
  color: #fff;
  background-color: #181818;
  background-image: linear-gradient(to bottom, #181818, #404040);
}
.section-services__text {
  p {
    margin: 0;
  }
  b,
  strong {
    color: #DFFF13;
    font-weight: $font-weight-medium;
  }
}
.section-services__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
