@import "~components/breakpoints/mixin";
@import "~styles/variables/fonts.scss";

.section-feedback {
  color: #fff;
  background-color: #2B2B2B;
  background-image: linear-gradient(to bottom, #2B2B2B, #242424);
}
.section-feedback__main {
  flex: 1 1 auto;
}
.section-feedback__title {
  max-width: 450px;
}
.section-feedback__image {
  display: none;
  font-size: 0;
  line-height: 0;
  flex: 0 1 auto;
}
.section-feedback__text {
  font-size: 12px;
}
.section-feedback__privacy {
  text-align: center;
  font-size: 10px;
  font-weight: $font-weight-light;
  color: #969696;
  margin-top: 10px;
}
.section-feedback__field,
.section-feedback__button {
  margin-top: 16px;
}
.section-feedback__success {
  margin-top: 60px;
  text-align: center;
  max-width: 280px;
}
.section-feedback__success-box {
  text-align: left;
  border: 1px solid #ACACAC;
  border-radius: 10px;
  padding: 40px 30px;
  margin-bottom: 40px;
}
.section-feedback__success-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: $font-weight-medium;
  color: #DFFF13;
}
.section-feedback__success-link {
  text-decoration: underline;
}

@include breakpoint(sm) {
  .section-feedback__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .section-feedback__form {
    max-width: 260px;
  }
  .section-feedback__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 260px + 30px;
    right: 0;
    bottom: 0;
  }
  .section-feedback__text {
    font-size: 18px;
  }
  .section-feedback__field,
  .section-feedback__button {
    margin-top: 20px;
  }
  .section-feedback__privacy {
    margin-top: 14px;
  }
}
@include breakpoint(md) {
  .section-feedback__image {
    position: static;
    display: block;
  }
  .section-feedback__text {
    font-size: 14px;
  }
  .section-feedback__privacy {
    margin-top: 20px;
  }
}
