@import "~swiper/modules/pagination.css";

.swiper-pagination,
.swiper-pagination.swiper-pagination-horizontal {
  position: static;
  left: auto;
  top: auto;
  font-size: 0;
  line-height: 0;
}
.swiper-pagination.swiper-pagination-horizontal {
  .swiper-pagination-bullet {
    margin: 0 2px;
  }
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #CFCFCF;
  border-radius: 50%;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #32C5FF;
  opacity: 1;
}
.swiperPagination.swiperPagination--square {
  .swiper-pagination-bullet {
    border-radius: 2px;
    width: 12px;
    height: 12px;
  }
}
.swiper-pagination-horizontal.swiperPagination--square {
  .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.swiperPagination.swiperPagination--white {
  .swiper-pagination-bullet {
    background-color: #717171;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}
