.icon-arrow-left {
  font-size: 12 * 1px;
  height: 1em;
  width: (18/12) * 1em;
}
.icon-arrow-right {
  font-size: 12 * 1px;
  height: 1em;
  width: (18/12) * 1em;
}
.icon-box {
  font-size: 9 * 1px;
  height: 1em;
  width: (9/9) * 1em;
}
.icon-instagram {
  font-size: 14 * 1px;
  height: 1em;
  width: (14/14) * 1em;
}
.icon-layers {
  font-size: 14 * 1px;
  height: 1em;
  width: (14/14) * 1em;
}
.icon-telegram {
  font-size: 17 * 1px;
  height: 1em;
  width: (18/17) * 1em;
}
.icon-union {
  font-size: 10 * 1px;
  height: 1em;
  width: (12/10) * 1em;
}
.icon-whatsapp {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
