include ~components/section/mixin
include ~components/sectionHead/mixin
include ~components/sectionTitle/mixin
include ~components/container/mixin
include ~components/icon/mixin
include ~components/image/mixin
include ~components/swiperPagination/mixin

include ~containers/workCard/mixin

-
	items = [
		{
			label: 'Рекламный ролик',
			title: 'Муромский квас',
		},
		{
			label: 'Рекламный ролик',
			title: 'LETHEAD',
		},
		{
			label: 'Имиджевое видео',
			title: 'X-FIT',
		},
		{
			label: 'Имиджевое видео',
			title: 'Предвыборный<br>ролик',
		},
		{
			label: 'Имиджевое видео',
			title: 'Автомастерская<br>«У Петровича»',
		},
		{
			label: 'Имиджевое видео',
			title: 'Суздальские<br>напитки',
		},
	]

+section({
	class: ['sectionWorks', 'js-sectionWorks']
})
	+picture({
		class: `sectionWorks__figure`,
		src: `/images/figures/section-figure-6.png`,
		srcset: {
			'2x': `/images/figures/section-figure-6@2x.png`
		},
		source: [
			{
				media: '(min-width: 1024px)',
				src: `/images/figures/section-figure-6-desktop.png`,
				srcset: {
					'2x': `/images/figures/section-figure-6-desktop@2x.png`
				},
				type: 'image/png'
			},
			{
				media: '(min-width: 640px)',
				src: `/images/figures/section-figure-6-tablet.png`,
				srcset: {
					'2x': `/images/figures/section-figure-6-tablet@2x.png`
				},
				type: 'image/png'
			}
		]
	})
	+container
		+sectionHead
			+sectionTitle Наши работы
			p С описанием задач, решений и видео-результатом.
		.sectionWorks__body
			.sectionWorks__slider-wrapper
				.sectionWorks__slider(data-ref="slider")
					each index in [0,1,2,0,1,2,3,4,5,3,4,5]
						- item = items[index]
						.sectionWorks__slide
							+workCard({
								label: item.label,
								title: item.title,
								video: {
									image: {
										src: `/images/work-${index + 1}.png`,
										srcset: {
											'2x': `/images/work-${index + 1}@2x.png`
										},
									},
									attributes: {
										target: '_blank',
										href: 'https://youtu.be/q_AIjV_3hrM',
										'data-click': 'popup:video',
										'data-popup-id': 'popup-video',
										'data-video-id': 'q_AIjV_3hrM'
									}
								},
								button: {
									text: 'Подробнее о кейсе',
									attributes: {
										href: '#'
									}
								}
							})
			.sectionWorks__slider-controls
				button.sectionWorks__prev(data-ref="slider.prev")
					+icon('arrow-left-circle')
				.sectionWorks__slider-pagination
					+swiperPagination({
						mods: ['square', 'white'],
						attributes: {
							'data-ref': 'pagination'
						}
					})
				button.sectionWorks__next(data-ref="slider.next")
					+icon('arrow-right-circle')
			.sectionWorks__swipe
				+image({
					src: '/images/swipe.gif'
				})
