@import "~components/breakpoints/mixin.scss";

.sectionWorks {
  color: #fff;
  background-color: #1A1A1A;
  background-image: linear-gradient(to bottom, #1A1A1A, #111111, #282828);
  position: relative;
  z-index: 10;
}
.sectionWorks__figure {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30px;
  pointer-events: none;
}
.sectionWorks__slider-wrapper {
  position: relative;
}
.sectionWorks__slider {
  margin: -10px;
}
.sectionWorks__slide {
  padding: 10px;
}
.sectionWorks__slider-controls{
  display: none;
}
.sectionWorks__prev,
.sectionWorks__next {
  display: block;
  background: none;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  z-index: 10;

  .icon {
    font-size: 38px;
  }
}
.sectionWorks__slider-pagination {
  margin: 0 20px;
}
.sectionWorks__slider-pagination,
.sectionWorks__swipe {
  font-size: 0;
  line-height: 0;
  text-align: center;

  img {
    height: 40px;
  }
}
.sectionWorks__swipe {
  margin-top: 20px;
}

@include breakpoint(sm) {
  .sectionWorks__swipe {
    margin-top: 40px;

    img {
      height: 60px;
    }
  }
}
@include breakpoint(md) {
  .sectionWorks__swipe {
    display: none;
  }
  .sectionWorks__slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
