@import "~components/breakpoints/mixin.scss";

.sectionWorks {
  color: #fff;
  background-color: #1A1A1A;
  background-image: linear-gradient(to bottom, #1A1A1A, #111111, #282828);
  position: relative;
  z-index: 10;
}
.sectionWorks__figure {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -100px;
  pointer-events: none;
}
.sectionWorks__slider-wrapper {
  position: relative;
}
.sectionWorks__slider {
  margin: -10px;
}
.sectionWorks__slide {
  padding: 10px;
}
.sectionWorks__prev,
.sectionWorks__next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 30px;
  z-index: 10;

  .icon {
    font-size: 1em;
  }
}
.sectionWorks__prev {
  left: -60px;
  text-align: left;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(to right, #2E2E2E, #111111);
}
.sectionWorks__next {
  right: -60px;
  text-align: right;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to left, #2E2E2E, #111111);
}
.sectionWorks__slider-pagination,
.sectionWorks__slider-nav {
  display: none;
}
.sectionWorks__swipe {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-top: 20px;

  img {
    height: 40px;
  }
}

@include breakpoint(sm) {
  .sectionWorks__swipe {
    margin-top: 40px;

    img {
      height: 60px;
    }
  }
  .sectionWorks__figure {
    top: -200px;
  }
}
@include breakpoint(md) {
  .sectionWorks__figure {
    top: -250px;
  }
  .sectionWorks__swipe {
    display: none;
  }
  .sectionWorks__slider-nav {
    display: block;
  }
  .sectionWorks__slider-pagination {
    display: block;
    margin-top: 40px;
  }
}
