@import "~styles/mixins/image-cover";
@import "~styles/variables/transition";
@import "~styles/variables/fonts.scss";

.section-reviews {
  color: #fff;
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #2B2B2B);
}
.section-reviews__head {
  b,
  strong {
    font-weight: $font-weight-medium;
    color: #DFFF13;
  }
}
.section-reviews__body {
  overflow: hidden;
}
.section-reviews__slider {
  cursor: all-scroll;
}
.section-reviews__slide {
  padding: 0 15px;
  font-size: 0;
  line-height: 0;
  transition: transform $transition-time ease-out;
  transform: scale(0.9);

  &.is-active {
    transform: scale(1);

    .section-reviews__slide-image {
      opacity: 1;
    }
  }
}
.section-reviews__slide-image {
  padding-top: 175%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity $transition-time ease-out;

  img {
    @include image-cover
  }
}
