@import "~components/breakpoints/mixin.scss";
@import "~components/breakpoints/mixin";
@import "~styles/variables/fonts";

.sectionFeedback2 {
  color: #fff;
  background-color: #1A1919;
  background-image: linear-gradient(to bottom, #282828, #1A1919);
}
.sectionFeedback2__privacy {
  font-size: 10px;
  margin-top: 10px;
  color: #969696;
  font-weight: $font-weight-light;
  text-align: center;
}
.sectionFeedback2__text {
  font-size: 12px;
  margin-bottom: 20px;
}
.sectionFeedback2__field {
  margin-bottom: 16px;
}

@include breakpoint(sm) {
  .sectionFeedback2__form {
    max-width: 360px;
  }
  .sectionFeedback2__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .sectionFeedback2__field {
    margin-bottom: 20px;
  }
  .sectionFeedback2__privacy {
    font-size: 12px;
    margin-top: 20px;
  }
}
@include breakpoint(md) {
  .sectionFeedback2__text {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .sectionFeedback2__field {
    margin-bottom: 0;
  }
  .sectionFeedback2__form {
    max-width: none;
  }
  .sectionFeedback2__privacy {
    font-size: 10px;
    text-align: left;
  }
  .sectionFeedback2__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}
