include ~components/popup/mixin
include ~components/button/mixin
include ~components/input/mixin
include ~containers/icon-box/mixin

mixin popup-sales(data)
	- data = data || {}
	+popup({
		class: 'popup-sales',
		attributes: data.attributes
	})
		.popup-sales__head
			.popup-sales__title !{data.title}
			.popup-sales__icon
				+icon-box(data.icon)
		form(action=data.action).popup-sales__form.js-form
			.popup-sales__text !{data.text}
			.popup-sales__field
				+input({
					attributes: {
						type: 'text',
						placeholder: 'Ваше имя',
						required: true
					}
				})
			.popup-sales__field
				+input({
					attributes: {
						type: 'text',
						placeholder: '+7 (000) 000-00-00',
						required: true
					}
				})
			+button({
				class: 'popup-sales__button',
				mods: ['block', ...data.button.mods],
				attributes: {
					type: 'submit'
				}
			}) #{data.button.text}
