@import "~styles/variables/fonts.scss";

.popup-sales {

}
.popup-sales__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.popup-sales__text {
  color: #030303;
  font-size: 12px;
  margin-bottom: 20px;
}
.popup-sales__title {
  color: #111111;
  font-size: 20px;
  font-weight: $font-weight-semiBold;
  text-transform: uppercase;
  flex: 1 1 auto;
}
.popup-sales__icon {
  flex: 0 0 auto;
  margin-left: 20px;
  font-size: 22px;
}
.popup-sales__field {
  margin-bottom: 10px;
}
.popup-sales__success {
  padding: 70px 0;
  text-align: center;
  color: #111111;
  font-size: 12px;
}
.popup-sales__success-title {
  text-transform: uppercase;
  font-weight: $font-weight-semiBold;
  margin-bottom: 10px;
}
.popup-sales__success-text {
  margin-bottom: 30px;
}
.popup-sales__success-link {
  font-size: 14px;
  font-weight: $font-weight-medium;
  text-decoration: underline;
}
.popup-sales__success.popup-sales__success--red {
  .popup-sales__success-link {
    color: #FF1422;
  }
}
.popup-sales__success.popup-sales__success--green {
  .popup-sales__success-link {
    color: #B1CD00;
  }
}
.popup-sales__success.popup-sales__success--blue {
  .popup-sales__success-link {
    color: #32C5FF;
  }
}
