@import "~components/breakpoints/mixin";
@import "~styles/mixins/image-cover.scss";
@import "~styles/variables/transition.scss";

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  padding: 0;
  border: none;
}
.video__image {
  @include image-cover;
}
.video__play {
  font-size: 46px;
  transition: $transition-time;
}
.video:hover {
  .video__play {
    transform: scale(1.1);
  }
}

@include breakpoint(sm) {
  .video__play {
    font-size: 60px;
  }
}
@include breakpoint(md) {
  .video__play {
    font-size: 60px;
  }
}
