@import "~styles/mixins/image-cover.scss";

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.video__image {
  @include image-cover;
}
.video__play {
  font-size: 50px;
}
