include ~components/container/mixin
include ~components/image/mixin

include ~containers/icon-box/mixin

header.header
	+container
		.header__top
			.header__logo
				include ~containers/logo/index
			+icon-box({
				class: 'header__social',
				icon: 'whatsapp',
				mods: ['whatsapp', 'medium'],
				attributes: {
					href: '#'
				}
			})
			+icon-box({
				class: 'header__social',
				icon: 'telegram',
				mods: ['telegram', 'medium'],
				attributes: {
					href: '#'
				}
			})
			+icon-box({
				class: 'header__nav-toggle',
				mods: ['medium'],
				tagName: 'button',
			}) +
