include ~components/container/mixin

include ~containers/icon-box/mixin

-
	footerMenu = [
		[
			'Упаковка бизнеса',
			'Бесплатный аудит',
			'Интернет - маркетинг',
		],
		[
			'Отзывы',
			'Автоматизация бизнеса',
			'Кейсы',
		]
	]

footer.footer.js-footer
	+container
		.footer__inner
			.footer__top
				.footer__logo
					include ~containers/logo/index
				.footer__copyright 2013-2023 ООО «TREND PRO»  Все права защищены
			.footer__middle
				nav.footer__nav
					each col in footerMenu
						ul.footer__nav-list
							each item in col
								li
									a(href='#').footer__nav-link #{item}
			.footer__bottom
				.footer__contacts
					ul.footer__contacts-list
						li
							a(href="tel:+78003018287").footer__contacts-link 8 800 301 82 87
						li
							a(href="mailto:info@trend-p.ru").footer__contacts-link info@trend-p.ru
				.footer__social
					ul.footer__social-list
						li
							+icon-box({
								icon: 'whatsapp',
								mods: ['medium'],
								attributes: {
									href: '#'
								}
							})
						li
							+icon-box({
								icon: 'telegram',
								mods: ['medium'],
								attributes: {
									href: '#'
								}
							})
