@import "~components/breakpoints/mixin.scss";

.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
}
.footer__logo {
  margin-bottom: 30px;

  img {
    height: 30px;
  }
}
.footer__copyright {
  font-size: 10px;
  color: #858585;
  margin-top: 30px;
}
.footer__social-list {
  display: flex;
  padding: 0;
  margin: 0 -10px;

  li {
    display: block;
    flex: 0 0 auto;
    padding: 0 10px;
    margin: 0;
  }
}
.footer__nav {
  display: flex;
  justify-content: flex-start;
  margin: 0 -20px;
  font-size: 12px;
}
.footer__nav-list {
  padding: 0 20px;
  margin: 0;

  li {
    display: block;
    padding: 0;
    margin: 0 0 8px 0;
  }
}
.footer__nav-link {
  color: currentColor;
}
.footer__contacts {
  flex: 1 1 auto;
}
.footer__contacts-list {
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: block;
    margin: 0 0 8px 0;
    padding: 0;
  }
}
.footer__contacts-link {
  color: currentColor;
}
.footer__middle {
  overflow: hidden;
  border-bottom: #4A4A4A 1px solid;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.footer__bottom {
  display: flex;
}

@include breakpoint(sm) {
  .footer {
    padding: 40px 0;
  }
  .footer__logo {
    margin-bottom: 40px;

    img {
      height: 40px;
    }
  }
  .footer__nav {
    margin: 0 -40px;
    font-size: 20px;
  }
  .footer__nav-list {
    padding: 0 40px;

    li {
      margin-bottom: 20px;
    }
  }
  .footer__middle {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .footer__contacts {
    font-size: 20px;
  }
  .footer__contacts-list {
    li {
      margin-bottom: 20px;
    }
  }
  .footer__copyright {
    font-size: 14px;
    margin-top: 20px;
  }
  .footer__social-list {
    margin: 0 -15px;

    li {
      padding: 0 15px;
    }
  }
}
@include breakpoint(lg) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
  }
  .footer__top {
    margin-right: 40px;
  }
  .footer__bottom {
    display: block;
    margin-left: 40px;
  }
  .footer__middle {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .footer__logo {
    margin-bottom: 20px;

    img {
      height: 48px;
    }
  }
  .footer__nav {
    font-size: 14px;
  }
  .footer__nav-list {
    margin: 0 -25px;

    li {
      padding: 0 25px;
      margin-bottom: 16px;
    }
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__contacts {
    font-size: 14px;
  }
  .footer__contacts-list {
    li {
      margin-bottom: 16px;
    }
  }
}
