@mixin triangle($direction: 'down', $width: 1em, $height: 1em) {
  width: $width;
  height: $height;
  box-sizing: border-box;
  border-style: solid;
  @if ($direction == 'down') {
    border-width: $height $width / 2 0 $width / 2;
    border-color: currentColor transparent transparent transparent;
  }
  @if ($direction == 'up') {
    border-width: 0 $width / 2 $height $width / 2;
    border-color: transparent transparent currentColor transparent;
  }
  @if ($direction == 'left') {
    border-width: $height / 2 $width $height / 2 0;
    border-color: transparent currentColor transparent transparent;
  }
  @if ($direction == 'right') {
    border-width: $height / 2 0 $height / 2 $width;
    border-color: transparent transparent transparent currentColor;
  }
}
