include ~components/section/mixin
include ~components/section-head/mixin
include ~components/section-title/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/swiper/mixin
include ~components/swiper-slide/mixin
include ~components/swiper-scrollbar/mixin

-
	items = [
		'/images/logos/club500.svg',
		'/images/logos/domovit.svg',
		'/images/logos/drMun.svg',
		'/images/logos/factoryTents.png',
		'/images/logos/foster.svg',
		'/images/logos/hohman.png',
		'/images/logos/kosmetik.svg',
		'/images/logos/kvanta.svg',
		'/images/logos/myDiamonds.svg',
		'/images/logos/sensor.png',
		'/images/logos/ukker.png',
		'/images/logos/upperSetup.svg',
	]

+section({
	class: ['section-clients', 'js-section-clients']
})
	+container
		+section-head({
			class: 'section-clients__head'
		})
			+section-title Наши клиенты
			p Работаем#{' '}
				b с малым и средним бизнесом
				br
				|#{' '} и беремся за любые проекты, в которых мы уверенны.
		.section-clients__body
			+swiper({
				class: 'section-clients__slider',
				attributes: {
					'data-ref': 'slider'
				}
			})
				each item, index in [...items, ...items.reverse()]
					+swiper-slide({
						class: 'section-clients__slide'
					})
						a(href="#" target="_blank" title=`Клиент ${index}`).section-clients__item
							.section-clients__item-image
								+image({
									src: item
								})
		.section-clients__footer
			+swiper-scrollbar({
				class: 'section-clients__scrollbar',
				attributes: {
					'data-ref': 'scrollbar'
				}
			})
