include ~components/section/mixin
include ~components/section-head/mixin
include ~components/section-title/mixin
include ~components/container/mixin
include ~components/image/mixin

-
	items = [
		{
			image: '/images/feature-1.svg',
			title: 'Наши сотрудники<br>работают с вами напрямую',
			text: 'Никаких «субподрядов» и сломанных телефонов. Все задачи обсуждаются в Zoom и Telegram под контролем руководителя.'
		},
		{
			image: '/images/feature-2.svg',
			title: 'Поэтапная<br>оплата работы',
			text: 'Платите только за результат! Например, мы подготовим блок сайта, согласуем  его с вами и только после этого примем оплату.'
		},
		{
			image: '/images/feature-3.svg',
			title: 'Полный контроль<br>над проектом',
			text: 'Подключим вас к нашей CRM-системе, чтобы вы всегда могли отслеживать процесс и активно участвовать в контроле работы.'
		},
	]

+section({
	class: 'section-features'
})
	+container
		+section-head
			+section-title Наши преимущества
		.section-features__body
			each item in items
				article.section-features__item
					.section-features__item-image
						+image({
							src: item.image
						})
					h4.section-features__item-title !{item.title}
					.section-features__item-text !{item.text}

