@import "~styles/mixins/triangle.scss";

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background: rgba(#fff, 0.2);
  width: 1em;
  height: 1em;

  &::before {
    content: '';
    display: block;
    font-size: 0.5em;
    margin-left: 0.2em;
    @include triangle('right', 0.8em, 0.95em);
  }
}

.play.play--green {
  background: none;
  border: 0.1em solid #DFFF13;
  color: #DFFF13;

  &:before {}
}
