extends ~templates/layout/base

block body
	.layoutPage
		.layoutPage__header
			include ~containers/header/index
		.layoutPage__main
			block main
		.layoutPage__footer
			include ~containers/footer/index
