include ~components/icon/mixin

mixin icon-box(data)
	-
		data = data || {};
		tag = data.attributes && data.attributes.href ? 'a' : 'div';
	#{tag}.icon-box(
		class=data.class
		class=mods('icon-box', data.mods)
	)&attributes(data.attributes)
		span.icon-box__inner
			if (data.icon)
				+icon(data.icon)
			block
